@page "/api"
@inherits ApiInformationPageViewModel;

<div class="col">
    <h4>
        API
    </h4>

    <p>
        Получить доступ к API и структуре запросов / объектов можно перейдя в клиент GraphQL на:<br/>
        <a href="https://api.dosham.app/graphql" target="_blank">https://api.dosham.app/graphql</a>
    </p>
        <p>
            Чтобы выполнять операции изменениющие состояния объектов (Добавить, Изменить), необходимо сначала авторизоваться и добавлять в последующие запросы к Bearer токен авторизации.
        </p>
        <hr/>
        Если вам потребуется помощь или дополнительный функционал, пишите на почту support@dosham.app

</div>