@inject IStringLocalizer<AppLocalizations> Localizer;

<div class="col-4 offset-4" style="text-align:center;">
    <span>
        <i class="fa fa-envelope fa-4x"></i>
    </span>

    <h1>@Localizer["Email_sent"]</h1>
    <p>@Localizer["Check_your_email_and_follow_instructions"]</p>
    <a href="/" class="btn btn-primary btn-lg">@Localizer["Go_back"]</a>
</div>