@if (Entries != null)
{
    <div class="chldr_entries">
        @foreach (var entry in Entries)
        {
            @switch ((EntryType)entry.Type)
            {
                case EntryType.Word:
                    <WordView Entry="entry" />
                    break;
                case EntryType.Text:
                    <TextView Entry="entry" />
                    break;
            }
        }
    </div>
}

@code {
    [Parameter] public IEnumerable<EntryModel> Entries { get; set; }
}