@inherits EntryActionButtonsViewModel;

<div class="chldr_entry_actions">

    @if (UserStore.IsLoggedIn && UserStore.CurrentUser != null)
    {
        @*<i class="bi bi-flag" @onclick="Flag"></i>*@
        @*<i class="bi bi-star" @onclick="AddToFavorites"></i>*@

        @if (UserStore.CurrentUser!.CanPromote(Entry.Rate, Entry.UserId))
        {
            <span class="chldr_translation_actions ms-lg-1">
                <i class="bi bi-check-lg" @onclick="PromoteHandler"></i>
            </span>
        }

        @if (UserStore.CurrentUser!.CanRemove(Entry.Rate, Entry.UserId, Entry.CreatedAt))
        {
            <i class="bi bi-trash ms-2" @onclick="@RemoveHandler"></i>
        }

        @*<i class="bi bi-share ms-2" @onclick="@ShareHandler"></i>*@
    }

</div>