@inherits PagerViewModel

<div>
    <button @onclick="() => OnPreviousPage()" disabled="@(CurrentPage == 1)">
        Previous
    </button>

    <button @onclick="() => OnNextPage()" disabled="@(CurrentPage == TotalPages)">
        Next
    </button>
</div>