@inherits TranslationViewModel;

<div class="chldr_translation card-subtitle">
    <span class="chldr_translation_language-code">
        @Translation?.LanguageCode
    </span>

    <span class="chldr_translation_content" @onclick="DoSearch">
        @Translation?.Content
    </span>

    @if (!String.IsNullOrWhiteSpace(@Translation?.Notes))
    {
        <div class="chldr_translation_notes">
            (@Translation?.Notes)
        </div>
    }

</div>