@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <ErrorBoundary>
            <NavMenu />
        </ErrorBoundary>
    </div>

    <main>
        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <p class="errorUI">Nothing to see here right now. Sorry!</p>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>
