@page "/"
@inject IStringLocalizer<AppLocalizations> Localizer;
@inherits MainPageViewModel;

<div class="input-group mb-3 mt-3">

    <div class="input-group-prepend">
        <span class="input-group-text">
            <span class="bi bi-search"></span>
        </span>
    </div>

    <input class="form-control shadow-none"
           placeholder="@Localizer["StartTyping"]"
           @ref="searchInputReference"
           @bind-value="@InputText"
           @oninput="(e)=> Search(e)" />

    <div class="ms-2">
        <button type="button" class="btn btn-secondary" @onclick="ShowRandoms">
            <span class="bi-arrow-repeat"></span>
        </button>
    </div>

</div>


@if (EntryViewModels.Count != 0)
{
    <div class="chldr_entries" @ref="entriesListViewReference">

        @foreach (var entryViewModel in EntryViewModels)
        {
            <EntryView ViewModel="entryViewModel"></EntryView>
        }

    </div>
}

<hr />
<p style="font-size: 12px; margin-right: 50px;">
    Нужен крутой дизайнер / верстальщик чтобы сделать вот это все красивее, если хотите помочь на добровольных началах -> bekaev.movsar@gmail.com
</p>