@if (ViewModel != null)
{
    <div class="chldr_entry">
        <div class="card card-body">

            @switch (ViewModel)
            {
                case WordViewModel:
                    <WordView ViewModel="ViewModel as WordViewModel" />
                    break;
                case PhraseViewModel:
                    <PhraseView ViewModel="ViewModel as PhraseViewModel" />
                    break;
            }

            <div class="chldr_entry_translations mt-2">
                @foreach (var translation in ViewModel.TranslationViewModels)
                {
                    <TranslationView ViewModel="@translation"></TranslationView>
                }
            </div>

        </div>
    </div>
}

@code {
    [Parameter]
    public EntryViewModelBase ViewModel { get; set; }
}
