@inherits ViewModelBase;

﻿<div>
    <p>@Message</p>
    <div class="float-end">
        <button @onclick="Cancel" class="btn btn-secondary"> @Localizer["No"] </button>
        <button @onclick="Ok" class="btn btn-primary"> @Localizer["Yes"] </button>
    </div>
</div>

@code {
    [Parameter]
    public string Message { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    async Task Ok() => await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    async Task Cancel() => await BlazoredModal.CancelAsync();
}