@page "/"
@inherits MainPageViewModel;

<div class="input-group mb-3 mt-3">

    <div class="input-group-prepend">
        <span class="input-group-text">
            <span class="bi bi-search"></span>
        </span>
    </div>

    <input class="form-control shadow-none"
           placeholder="@Localizer["Start_typing"]"
           @ref="SearchInputReference"
           @bind-value="@SearchQuery"
           @oninput="(e)=> Search(e)" />

    <div class="ms-2">
        <button type="button" class="chldr_btn_show-randoms btn btn-secondary" @onclick="LoadRandomEntries">
            <span class="bi-arrow-repeat"></span>
        </button>
    </div>

    <div class="chldr_serach_results mt-3">
        <SearchResultsView SearchResults="@SearchResults"></SearchResultsView>
    </div>

</div>