@page "/entry-edit/{EntryId}";
@inherits EntryViewModel;

<h3>EntryEditPage</h3>

@if (EntryId != null){
    @switch (Type)
    {
        case Data.Enums.EntryType.Word:
            <WordEditView EntryId="EntryId" />
            break;
        case Data.Enums.EntryType.Phrase:
            break;
        case Data.Enums.EntryType.Text:
            break;
    }
}

<button>Save</button>
<button>Save and add another</button>