@page "/donate"
@inherits DonationsPageViewModel;

@* <div class="slidecontainer">
    <input type="range" min="2" max="1024" value="2" class="slider" name="amount" id="slider" @oninput="SetNewAmountChanged" />
</div>
 *@

<div class="col">
    <h4>
        Поддержка проекта Словарь Чеченского Языка
    </h4>
    <small>Словарь Чеченского Языка всегда будет полностью бесплатным, однако для содержания и улучшения проекта нужны средства.</small>

    <hr />

    <h5 class="text-center">
        Поддержать проект
    </h5>

    <p>
        <hr />
        В рублях, карта Тинькофф: 2200700713887627
        <hr/>
        В криптовалюте через Binance:
        <br />
        <img src="_content/chldr_ui/images/BinancePayQR.png" width="200" />
    </p>

</div>