@page "/donate"
@inherits DonationsPageViewModel;

@* <div class="slidecontainer">
    <input type="range" min="2" max="1024" value="2" class="slider" name="amount" id="slider" @oninput="SetNewAmountChanged" />
</div>
 *@

<div class="col">
    <h4>
        Сбор на улучшение и поддержку Словарь Чеченского Языка
    </h4>

    <hr/>

    <p>
        В рублях: 
        <a href="https://www.tinkoff.ru/cf/2JOkqxRtoiT">
            Ссылка на сбор
        </a>
    </p>

    <p>
        В криптовалюте:
        <br/>
        <img src="_content/chldr_ui/images/BinancePayQR.png" width="200" />
    </p>

</div>