@page "/index";

@inherits IndexPageViewModel;

<h4 class="mt-2">
    @Localizer["Index"]
</h4>

<hr/>

<!-- Top controls -->
@if (Entries != null)
{
    <div class="text-center">
        <div class="letters">
            @foreach (var letter in Letters)
            {
                <button class="letter-button" @onclick="() => LetterSelectionHandlerAsync(letter)">@letter</button>
            }
        </div>

        <div class="mt-2 mb-2">
            <Pager CurrentPage="CurrentPage" TotalPages="TotalPages" SelectedPage="async (page) => await SelectPageAsync(page)" />
        </div>
    </div>
}

<!-- Main content -->
@if (Entries == null)
{
    <p><em>@Localizer["Loading"]...</em></p>
}
else
{
    <EntriesPresenter Entries="Entries"></EntriesPresenter>
}

<!-- Bottom controls -->
@if (Entries != null)
{
    <div class="text-center">
        <div class="mt-2 mb-2">
            <Pager CurrentPage="CurrentPage" TotalPages="TotalPages" SelectedPage="async (page) => await SelectPageAsync(page)" />
        </div>

        <div class="letters">
            @foreach (var letter in Letters)
            {
                <button class="letter-button" @onclick="() => LetterSelectionHandlerAsync(letter)">@letter</button>
            }
        </div>
    </div>
}

<div class="mb-4"></div>