@page "/a"
@inherits MainPageViewModel;

<div class="row">
    <SearchQueryView></SearchQueryView>
</div>

<div class="row">
    <div class="chldr_serach_results mt-2">
        <SearchResultsView></SearchResultsView>
    </div>
</div>