@inherits ActionButtonsViewModel;

<div class="chldr_entry_actions">

    @if (UserStore.IsLoggedIn)
    {
        @*<i class="bi bi-flag" @onclick="Flag"></i>*@
        @*<i class="bi bi-star" @onclick="AddToFavorites"></i>*@

        @if (CanRemove())
        {
            <i class="bi bi-trash" @onclick="@RemoveHandler"></i>
        }

        @if (CanEdit())
        {
            <a href="/entry/edit/@Entry!.EntryId"><i class="bi bi-pencil ms-1"></i></a>
        }
    }

    <i class="bi bi-share ms-1" @onclick="@ShareHandler"></i>
</div>