@if (ViewModel != null)
{
    <div class="chldr_entry">
        <div class="card card-body">

            @switch (ViewModel)
            {
                case WordViewModel:
                    <WordView ViewModel="ViewModel as WordViewModel" />
                    break;
                case PhraseViewModel:
                    <PhraseView ViewModel="ViewModel as PhraseViewModel" />
                    break;
            }

            <div class="chldr_entry_translations mt-2">
                @foreach (var translation in ViewModel.TranslationViewModels)
                {
                    <TranslationView ViewModel="@translation"></TranslationView>
                }
            </div>

            @if (ViewModel?.UserStore?.CurrentUser != null)
            {
                <div class="chldr_entry_actions">
                    <i class="fa fa-language" @onclick="ViewModel.NewTranslation"></i>
                    <i class="fa fa-share" @onclick="ViewModel.Share"></i>
                    <i class="fa fa-flag" @onclick="ViewModel.Flag"></i>
                    <i class="fa fa-star" @onclick="ViewModel.AddToFavorites"></i>

                    <a href="/word/edit/@ViewModel.EntityId"><i class="oi oi-pencil"></i></a>
                </div>
            }

        </div>
    </div>
}

@code {
    [Parameter]
    public EntryViewModelBase? ViewModel { get; set; }
}
