@inherits SearchResultsViewModel;

@if (Entries != null)
{
    <div class="chldr_entries">
        @foreach (var entry in Entries)
        {
            @switch ((EntryType)entry.Type)
            {
                case EntryType.Word:
                    <WordView Entry="entry" />
                    break;
                case EntryType.Phrase:
                    break;
            }
        }
    </div>
}