@inherits TranslationEditViewModel
<input type="text" class="form-control" autocomplete="off" disabled="@FormDisabled"
       placeholder="@Localizer["Enter_translation_text"]" required />

<input type="text" class="form-control" autocomplete="off" disabled="@FormDisabled"
       placeholder="@Localizer["Enter_translation_notes"]" />

<button class="btn-primary">Save</button>
<button class="btn-primary">Save and add another</button>