@inherits TranslationViewModel;

<div class="chldr_translation card-subtitle">
    <span class="chldr_translation_language-code">
        @Translation?.Language.Code
    </span>

    <span class="chldr_translation_content" @onclick="DoSearch">
        @Translation?.Content
    </span>

    @if (UserStore?.CurrentUserInfo != null)
    {
        <span class="chldr_translation_actions ms-lg-1">
            <i class="bi bi-hand-thumbs-up" @onclick="Upvote"></i>
            <i class="bi bi-hand-thumbs-down" @onclick="Downvote"></i>
        </span>
    }

    @if (!String.IsNullOrWhiteSpace(@Translation?.Notes))
    {
        <div class="chldr_translation_notes">
            (@Translation?.Notes)
        </div>
    }

</div>