@inherits EntryViewModel;

<div class="chldr_entry">
    <div class="card card-body">

        <div class="chldr_entry_header card-title">
            @Header
            @*<span class="oi oi-volume-high" @onclick="ViewModel.ListenToPronunciation"></span>*@
        </div>

        @if (!String.IsNullOrWhiteSpace(Subheader))
        {
            <div class="chldr_entry_sub-header">
                @Subheader
            </div>
        }

        @if (!String.IsNullOrWhiteSpace(@Source))
        {
            <div class="chldr_entry_source">
                @Localizer["Source"]: @Source
            </div>
        }

        <div class="chldr_entry_translations mt-2">
            @foreach (var translation in @Translations)
            {
                <TranslationView Translation="@translation"></TranslationView>
            }
        </div>

        @if (UserStore.ActiveSession.Status == SessionStatus.LoggedIn)
        {
            <div class="chldr_entry_actions">
                <i class="bi bi-translate" @onclick="NewTranslation"></i>
                <i class="bi bi-share" @onclick="Share"></i>
                <i class="bi bi-flag" @onclick="Flag"></i>
                <i class="bi bi-star" @onclick="AddToFavorites"></i>

                @if (UserStore?.ActiveSession.Status == SessionStatus.LoggedIn)
                {
                    <a href="/entry/edit/@Word?.EntryId"><i class="bi bi-pencil"></i></a>
                    <i class="bi bi-recycle" @onclick="@DeleteEntry"></i>
                }
            </div>
        }
    </div>
</div>